[submodule "OpenDDS"]
	path = src/3rdparty/OpenDDS
	url = https://github.com/objectcomputing/OpenDDS.git
[submodule "CommonTools"]
	path = src/3rdparty/CommonTools
	url = https://github.com/masesgroup/CommonTools.git
